.nav-underline .nav-link:hover{
  border-bottom-color: #0d6efd; /* Altere para a cor desejada */
}

.dropdown  span{
  margin-left: 12px;
  text-transform: capitalize;
}
.dropdown-menu {
  text-transform: capitalize;
}

.dropdown{
  margin-top: -15px
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #a0a0a0; 
  color: #fff;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px; 
}

.avatar-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a0a0a0; 
  color: #fff;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px; 
  margin-right: -8px;
}

.btn-new-request{
  height: auto;
  font-size: 15px;
}

.btn-print{
  background-color: #fff;
  border: 1px  solid  #a0a0a0;
  height: auto;
  font-size: 15px;
}

.btn-filter{
  background-color: #fff;
  border: 1px  solid #a0a0a0;
  height: auto;
  font-size: 15px;
}
.btn-reload{
  background-color: #fff;
  border: 1px  solid #a0a0a0;
  height: auto;
  font-size: 15px;
}
.btn-print:hover{
  border: 1px  solid #757575;
}

.btn-filter:hover{
  border: 1px  solid #757575;
}
.btn-reload:hover{
  border: 1px  solid #a0a0a0;
}

.information-pad{
  border-left: 4px solid #198754;
  background-color: #fff;
  margin-left: 0.8em;
  margin-right: 0.5em;

}

span{
  color: rgb(70, 70, 70);
}


