<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boxes</title>
  <!-- Icon URL -->
  <link rel="icon" href="/assets/icon-1080.png" type="image/png">
  <!--Bootstrap link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- Bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!--static CSS file-->
  <link rel="stylesheet" href="/styles/print.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--Bootstrap javascript code-->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <!--static script file-->
  <script defer src="/scripts/script.js"></script>
</head>

<body>

  <div class="container bg-light rounded-top-4 min-vh-100 mt-3">
    <nav class="nav navbar mb-3">
      <div class="container-fluid d-flex border-bottom">
        <ul class="nav nav-underline justify-content-start">
          <li class="d-flex justify-content-center">
            <a href="/" class="btn"><img src="/assets/left-arrow.png" alt=""></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container text-center mt-5">
      <h1><i class="bi bi-gear"></i>Uma nova experiência está em construção</h1>
    </div>

  </div>

</body>

</html>