@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background: #D0D0D0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

section{
  display: flex;
  flex-direction: column;
  width: 998px;
  height: 737px;
  background: #F0F0F0;
  border-radius: 20px 20px 0px 0px;
}

.tab-information{
  color: #424242;
  margin-left: 53px;
  font-size: 16px;
  letter-spacing: 0.1px;
  margin-top: 5px;
}

/*navbar*/
.navbar {
  padding: 10px;
  background-color: #DDD ;
  color: black;
  width: 900px;
  height: 55px;
  margin-left: 53px;
  border-radius: 7px;
}

.nav-item{
  margin-right: 20px;
  width: 120px;
  text-align: center; 
 
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
  color: black;
  background-color: #EBEBEB;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  color: black;
  border-radius: 4px;
}

.btn{
  margin-left: 25px;

  
}
 










